.w {
  width: 100%;
}
.fantasy {
  font-weight: 100;
  text-align: center;
}
.centered {
  margin: auto;
}
.jumbotron {
  background-color: #000;
}
.border {
  border-radius: 50%;
}
.center {
  justify-content: center;
}
a.active{color: white}
a:hover {
  letter-spacing: 3px;
}
.fa-instagram {
  color: #c71585;
}
li {
  margin-left: 15px;
}
au,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-transform: capitalize;
}

.mt-5{
  margin-top: 8vw !important;
}

.logo
{
  width:5rem;
}